 body{
    margin: 0;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#circle{
    position: absolute;
    height: 350px;
    width: 350px;
    border: 20px solid white;
    border-radius: 50%;
    border-top-color:red;
    cursor: pointer;
}

#midCircle{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: grey;
}

#rwad{
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#circle:hover{
    transform: rotate(360deg);
    transition: all 2s ease;
}



